body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f9f7f1;
  }
  
  .animal-card {
    display: inline-block;
    width: 300px;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  .animal-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .animal-card h2 {
    color: #6b705c;
  }
  
  .animal-card p {
    color: #6b705c;
    font-size: 14px;
  }
  